#contacts-list h3 {
    padding: .6em 0;
}

.avatar-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
}

.avatar {
    position: absolute;
    margin: auto 1.2em;
    bottom: 0;
    left: 0;
    top: 0;
    max-width: 50px;
    max-height: 50px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
}

#face-container {
    overflow: hidden;
    width: 100%;
    position: absolute;
}

.img-circle {
    position: relative;
    border-radius: 50%;
    height: 20em;
    margin: 1em auto;
    display: block;
}

/***** Gallery *****/
#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    margin: 10px;
}

#photos img {
    width: 97% !important;
    height: auto !important;
    padding: 2px 0;
}

/* Absolute Center Spinner */
#overlay {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
    font-weight: bold;
}

/* Transparent Overlay */
#overlay:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#map-tab, #map-canvas {
    /*margin: 0;*/
    /*padding: 0;*/
    /*height: 100%;*/
    width: 100%;
}

#content {
    padding: 0 !important;
    position: absolute !important;
    top: 40px !important;
    right: 0;
    bottom: 40px !important;
    left: 0 !important;
}

.row {
    display: table;
    width: 100%;
}

.row > div {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
}